:root {
  --ligth-theme-color: rgb(0, 191, 99);
  --dark-theme-color: rgb(0, 87, 45);
  --dark-font-color: #000000;
  --ligth-font-color: #e7e7e7;
  --alert-color: #ff0000;
  --dark-bg-color: #101010;
  --ligth-bg-color: #3c3c3c;
  --white-bg-color: #898989;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", sans-serif;
  color: var(--ligth-font-color);
  user-select: none;
  /* border: 1px solid red; */
  scrollbar-width: thin; 
  scrollbar-color: var(--dark-theme-color) var(--ligth-bg-color);
}

*:hover {
  scrollbar-color: var(--ligth-theme-color) var(--ligth-bg-color);
}

html,
body,
#root,
main {
    width: 100%;
    height: max-content;
    min-height: 100dvh;
}

main {
  position: relative;
}