.edit_profile_page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ligth-theme-color) url(../../img/background/bgLogin.svg) center;
    min-height: 100dvh;
    background-size: cover;
    background-attachment: fixed;
}