.edit_profile_page {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ligth-theme-color) url(../../img/background/bgLogin.svg) center;
    height: 100%;
    background-size: cover;
}