.home_page {
    display: flex;
    flex-direction: column;
    background-color: var(--ligth-bg-color);
    min-width: 22.3em;
    position: relative;
}

.posts_section {
    margin-left: 4.6em;
    position: relative;
    flex: 1;
}

.posts_ending {
    width: 100%;
    height: max-content;
    padding: 1em;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    line-height: 2em;
    letter-spacing: 1px;
    border-top: 3px solid var(--ligth-theme-color);
    background-color: var(--dark-bg-color);
}

.go_to_top {
    padding: 0.5em 0.75em;
    border-radius: 50%;
    background-color: #000000d8;
    position: fixed;
    right: 1em;
    bottom: calc(5.8em);
    border: 2px solid var(--ligth-bg-color);
    z-index: 1;
    cursor: pointer;
}

.go_to_top > img {
    height: 1.5em;
    width: 1.5em;
    display: block;
}

@media screen and (max-width: 720px) {
    .posts_section {
        margin-left: 0;
    }

    .posts_ending {
        border-top: 1px solid var(--ligth-theme-color);
    }
}

@media screen and (min-width: 1500px) {
    .posts_section {
        margin: 5.8em 0 5em 0;
        margin-left: 5.1em;
    }
}
