.new_post_page {
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    align-items: center;
    padding: 2em;
    background: var(--ligth-theme-color) url(../../img/background/bgNewPost.svg) center;
    background-size: cover;
    background-attachment: fixed;
}

.new_post_page > h1 {
    margin-bottom: 1em;
    text-align: center;
}

.edit_post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1em;
}

.inputs {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1em;
}

@media screen and (max-width: 720px) {
    .inputs {
        flex-direction: column;
    }
}

@media screen and (min-width: 1500px) {
    .edit_post:last-child() {
        font-size: 1.2em;
    }
}