.profile_preferences_page {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em 0;
    background: var(--ligth-theme-color) url(../../img/background/bgPreferences.svg) center;
    background-size: cover;
    background-attachment: fixed;
    align-items: center;
}

.profile_preferences_page form{
    text-align: center;
    margin-top: 4em;
}

.profile_preferences_page hr {
    width: calc(100% - 4em);
}

.title_section {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    text-align: center;
    align-items: center;
}

.title_section h1 {
    color: var(--dark-font-color);
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px white;
}

.title_section p {
    letter-spacing: 0.4px;
    font-size: 1em;
    color: var(--dark-font-color);
    word-wrap: break-word;
    max-width: 24em;
}

.sports_cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0 1.9em;
    gap: 2em; 
}

@media screen and (max-width: 720px) {
    .sports_cards {
        width: 11.2em;
        min-width: 100%;
        padding: 0 1em;
    }
}

@media screen and (min-width: 1500px) {
    .title_section {
        font-size: 1.3em;
    }

    .profile_preferences_page form {
        font-size: 1.3em;
    }
}