.recover_password_page {
    background: var(--ligth-theme-color) url(../../img/background/bgLogin.svg) center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    font-size: 1.1em;
}

.recover_password_container {
    backdrop-filter: brightness(0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 2px solid var(--ligth-font-color);
    border-radius: 25px;
    gap: 4em;
    width: 28em;
    overflow: hidden;
}

.recover_password_container > p {
    text-align: center;
    color: var(--white-bg-color);
}

.recover_password_container > h1 {
    color: var(--ligth-theme-color);
    text-align: center;
}

.recover_password_container > form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;

}