.search_page {
    background-color: var(--dark-bg-color);
    max-height: max-content;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.search_page > form {
    width: 100%;
}

.search_text {
    font-size: 2em;
    word-break: break-all;
}

.search_text > span {
    color: var(--white-bg-color);
}

.result {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    gap: 3em;
    text-align: center;
    height: max-content;
}

.result > p {
    width: 100%;
    text-align: center;
}

.result > .posts {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

p.results_number {
    text-align: left;
    font-size: 2em;
    color: var(--white-bg-color);
    padding-left: 1em;
}

@media screen and (max-width: 720px) {
    .posts {
        width: 100dvw;
        margin: 0 -1em;
    }

    .result {
        margin: 4em -0.7em 0;
    }
}