.inputField,
.checkbox_input {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
}

.checkbox_input {
    align-items: start;
}

:where(.inputField, .checkbox_input) label {
    height: max-content;
    letter-spacing: 0.5px;
    width: max-content;
    font-size: 0.8em;
}

.inputField label {
    font-size: 1.2em;
}

.checkbox_input label {
    outline: none;
    margin-top: 0.4em;
    text-align: justify;
    font-size: 0.65em;
}

.inputField input {
    height: 3em;
    border-radius: 5px;
    border: 1px solid var(--ligth-font-color);
    background-color: transparent;
    padding: 0 1em;
    letter-spacing: 0.5px;
    outline: none;
}

.checkbox_input input {
    outline: none;
    margin-top: 0.4em;
}

.inputField span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6em;
    margin-bottom: 0.5em;
}

.inputField img {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}

.inputField .alert {
    height: 3em;
    font-size: 0.7em;
    margin: 0.1em 0.5em 0;
    text-align: justify;
    color: var(--alert-color);
    letter-spacing: 0.4px;
    visibility: hidden;
}