.inputField {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.inputField label {
    height: max-content;
    letter-spacing: 0.5px;
    width: max-content;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.inputField input {
    height: 3em;
    border-radius: 5px;
    border: 1px solid var(--ligth-font-color);
    background-color: transparent;
    padding: 0 1em;
    letter-spacing: 0.5px;
    outline: none;
}

.inputField span {
    display: flex;
    align-items: left;
    gap: 0.6em;
}

.inputField img {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}

.alert {
    height: 3em;
    font-size: 0.7em;
    margin: 0.1em 0.5em 0;
    text-align: justify;
    color: var(--alert-color);
    letter-spacing: 0.4px;
    visibility: hidden;
}
