.text_field,
.checkbox_field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.checkbox_field {
    align-items: start;
}

.text_field > span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6em;
    margin-bottom: 0.5em;
}

:where(.text_field, .checkbox_field) > span > label {
    height: max-content;
    letter-spacing: 0.5px;
}

.text_field > span > label {
    font-size: 1.2em;
}

.checkbox_field > span > label {
    font-size: 0.65em;
}

.text_field > input {
    height: 3em;
    border-radius: 5px;
    border: 1px solid var(--ligth-font-color);
    background-color: transparent;
    padding: 0 1em;
    letter-spacing: 0.5px;
    outline: none;
}

.checkbox_field > input {
    outline: none;
    margin-top: 0.4em;
}


.text_field > span > img {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}

.text_field > .alert {
    height: 3em;
    min-height: min-content;
    font-size: 0.7em;
    margin: 0.1em 0.5em 0;
    text-align: justify;
    color: var(--alert-color);
    letter-spacing: 0.4px;
    visibility: hidden;
}