.text_field,
.checkbox_field {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.checkbox_field {
    align-items: start;
}

.text_field > span {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.6em;
    margin-bottom: 0.5em;
}

.text_field > span > label {
    height: max-content;
    letter-spacing: 0.5px;
    font-size: 1.2em;
}

.text_field > input {
    height: 3em;
    border-radius: 5px;
    border: 1px solid var(--ligth-font-color);
    background-color: #00000096;
    padding: 0 1em;
    letter-spacing: 0.5px;
    outline: none;
}

.text_field > span > img {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}

.alert {
    height: 3em;
    min-height: min-content;
    font-size: 0.7em;
    margin: 0.1em 0.5em 0;
    text-align: justify;
    color: var(--alert-color);
    letter-spacing: 0.4px;
    visibility: hidden;
}

.checkbox_field > span > label {
    font-size: 0.8em;
    letter-spacing: 0.5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.slider {
    background-color: var(--ligth-font-color);
    height: 1.5em;
    width: 3.5em;
    display: block;
    border-radius: 1.5em;
    cursor: pointer;
    border: 1px solid var(--ligth-theme-color);
    position: relative;
    transition: all 0.3s ease-in-out;
}

.slider::before {
    height: 100%;
    content: "";
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: var(--dark-theme-color);
    position: absolute;
    left: 0;
    top: 0;
    transition: all 0.3s ease-in-out;
}

.checkbox_field > span > label > input:checked + .slider {
    background-color: var(--dark-theme-color);
}

.checkbox_field > span > label > input:checked + .slider::before {
    transform: translateX(2em);
    background-color: var(--ligth-theme-color);
}

.slider:hover::before {
    background-color: var(--ligth-theme-color);
}

.checkbox_field > span > label > input {
    display: none;
}