.photo_input {
    position: relative;
    min-height: min-content;
    width: max-content;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border 0.15s ease-in-out;
    overflow: hidden;
}

.photo_input > label {
    width: max-content;
    height: max-content;
    border-radius: inherit;
    text-align: center;
}

.photo_input > input {
    display: none;
}