.textarea {
    display: flex;
    width: 100%;
    height: max-content;
    flex-direction: column;
}

.textarea > span {
    display: flex;
    align-items: left;
    gap: 0.6em;
}

.textarea > span > img {
    display: inline-block;
    height: 1.4em;
    width: 1.4em;
}

.textarea > span > label {
    height: max-content;
    letter-spacing: 0.5px;
    width: max-content;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.textarea > textarea {
    height: 10.6em;
    border-radius: 5px;
    border: 1px solid var(--ligth-font-color);
    background-color: #00000096;
    padding: 1em;
    letter-spacing: 0.5px;
    outline: none;
    resize: none;
}

.alert {
    height: 3em;
    min-height: min-content;
    font-size: 0.7em;
    margin: 0.1em 0.5em 0;
    text-align: justify;
    color: var(--alert-color);
    letter-spacing: 0.4px;
    visibility: hidden;
}
