.flashes_section,
.flashes_section ul {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: var(--dark-bg-color);
}

.flashes_section ul {
    list-style: none;
    padding: 1em;
    align-items: center;
    gap: 1em;
    border: 1px solid var(--ligth-font-color);
}

.flashes_section {
    overflow-y: auto;
    position: fixed;
    top: calc(4.8em + 1px);
    bottom: 4.8em;
    /* Para Firefox */
    /* scrollbar-width: thin; 
    scrollbar-color: var(--dark-theme-color) var(--white-bg-color); */
}

/* Estilos específicos para a barra de rolagem no Chrome, Edge e Safari */
.flashes_section::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem */
}

.flashes_section::-webkit-scrollbar-track {
    background: var(--ligth-bg-color); /* Cor do fundo da barra */
}

.flashes_section::-webkit-scrollbar-thumb {
    background-color: var(--dark-theme-color); /* Cor da barra de rolagem */
    border-radius: 10px; /* Bordas arredondadas */
}

.flashes_section::-webkit-scrollbar-thumb:hover {
    background-color: var(--ligth-theme-color); /* Cor ao passar o mouse */
}

.flashes_section ul li {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.5em;
    width: 3.5em;
    overflow: hidden;
    background-color: var(--ligth-bg-color);
    border: 3px solid var(--dark-theme-color);
    transition: border 0.15s ease-in-out;
}

.flashes_section ul li:not(.add_flash):hover {
    border: 3px solid var(--ligth-theme-color);
}


.flashes_section ul li img {
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}

.flashes_section ul li:not(.add_flash):hover img {
    filter: brightness(0.6);
    transform: scale(1.2);
}

.flashes_section ul li.add_flash {
    border: none;
    background-color: var(--ligth-bg-color);
    height: max-content;
    width: max-content;
    transition: background-color 0.2s ease-in-out;
    padding: 0.6em;
}

.flashes_section ul li.add_flash:hover {
    background-color: var(--white-bg-color);
}

.flashes_section ul li.add_flash img {
    height: 1.8em;
    width: 1.8em;
    display: block;
}