*:has(> .app_nav_bar) {
    margin-bottom: 3.9em;
}

.app_nav_bar,
.app_nav_bar > ul {
    display: flex;
    height: max-content;
    width: 100%;
    background-color: var(--dark-bg-color);
    min-width: max-content;
}

.app_nav_bar {
    position: fixed;
    bottom: 0;
    border-top: 1px solid var(--ligth-font-color);
    z-index: 4;
}

.app_nav_bar > ul {
    list-style: none;
    padding: 0.6em 4%;
    align-items: center;
    justify-content: space-around;
    gap: 1em;
}

.app_nav_bar > ul > li {
    cursor: pointer;
    padding: 0.6em;
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
}

.app_nav_bar > ul > li:hover,
.selected {
    background-color: var(--ligth-bg-color);
}

.app_nav_bar > ul > li > img {
    height: 1.5em;
    display: block;
}

.app_nav_bar > ul > li.profile_photo {
    padding: unset;
    height: 2.4em;
    width: 2.4em;
    background-color: var(--ligth-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.app_nav_bar > ul > li.profile_photo:hover,
li:where(.profile_photo).selected {
    filter: brightness(0.4);
}