.flashes_section,
.flashes_section > ul {
    display: flex;
    flex-direction: column;
    width: max-content;
    background-color: var(--dark-bg-color);
}

.flashes_section > ul {
    list-style: none;
    padding: 1em 0.7em;
    align-items: center;
    gap: 1em;
}

.flashes_section {
    border-right: 1px solid var(--ligth-font-color);
    overflow-y: auto;
    position: fixed;
    top: calc(4.6em + 1px);
    bottom: 4em;
    scrollbar-width: thin; 
    scrollbar-color: var(--dark-theme-color) var(--dark-bg-color);
}

.flashes_section:hover {
    scrollbar-color: var(--ligth-theme-color) var(--dark-bg-color);
}

.flashes_section > ul > li:first-child {
    background-color: var(--ligth-bg-color);
    height: max-content;
    width: max-content;
    transition: all 0.2s ease-in-out;
    border-radius: 50%;
    padding: 0.5em;
    cursor: pointer;
}

.flashes_section > ul > li:first-child:hover {
    background-color: var(--white-bg-color);
}

.flashes_section > ul > li:first-child > img {
    height: 1.7em;
    width: 1.7em;
    display: block;
}

@media screen and (max-width: 720px) {
    .flashes_section,
    .flashes_section > ul {
        flex-direction: row;
        width: unset;
        height: max-content;
    }
    
    .flashes_section > ul {
        padding: 0.7em 1em;
        gap: 0.8em;
    }
    
    .flashes_section {
        border-bottom: 1px solid var(--ligth-font-color);
        border-right: unset;
        width: 100%;
        overflow-y: unset;
        overflow-x: auto;
        bottom: unset;
        position: relative;
    }
}

@media screen and (min-width: 1500px) {
    .flashes_section > ul {
        padding: 2.5em 0.7em 2em 0.7em;
    }
}
