.message {
    height: max-content;
    width: max-content;
    max-width: calc(100% - 2em);
    padding: 0.7em 1em;
    display: flex;
    position: fixed;
    top: 1em;
    right: 1em;
    gap: 1em;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    z-index: 7;
    box-shadow: 3px 3px 20px black inset;
    border: 2px solid black;
    z-index: 6;
}

.message > img {
    height: 1.5em;
    border-radius: 50%; 
    box-shadow: 3px 3px 5px black;
}

.message > span {
    letter-spacing: 1px;
    color: black;
    font-weight: bold;
    text-align: end;
}

.error {
    background-color: var(--alert-color);
}

.success {
    background-color: var(--ligth-theme-color);
}
