.posts_full_screen {
    display: flex;
    flex-direction: column;
    max-width: 100dvw;
    height: max-content;
    overflow: auto;
    position: relative;
    min-height: 100dvh;
    background-color: var(--dark-font-color);
    justify-content: center;
}