

.post_items_container {
    width: 100%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.post_items_container > hr {
    border: 1px solid var(--ligth-bg-color);
}

.post_items_container > li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    max-height: min-content;
    transition: all 0.3s ease-in-out;
    padding: 0.4em;
    cursor: pointer;
    position: relative;
}

.post_items_container > .loading_li { 
    height: 100px;
    max-height: unset;
}

.post_items_container > li:hover,
.selectedItem {
    background-color: var(--ligth-bg-color);
}