.post {
    position: relative;
    display: flex;
    border: 3px solid var(--ligth-theme-color);
    border-bottom: unset;
    padding: 1em;
    background-color: var(--dark-bg-color);
    width: 100%;
    aspect-ratio: 15 / 7;
    gap: 1em;
}

.container_divisor {
    height: 100%;
    width: 2px;
    background-color: var(--ligth-bg-color);
}

.first_post_container {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 1em;
}

.second_post_container {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 1.5em;
}

.date {
    color: var(--ligth-bg-color);
    font-size: 0.8em;
    width: max-content;
    margin-left: auto;
}

.medias {
    flex: 1;
    aspect-ratio: 3 / 2 ;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    display: block;
}

.media_info {
    position: absolute;
    width: 100%;
    height: 100%;
}

.media_info > p {
    height: max-content;
    width: max-content;
    padding: 0.3em;
    border: 1px solid var(--dark-font-color);
    border-radius: 35%;
    background-color: #000000aa;
    position: absolute;
    z-index: 3;
}

.media_info > p:first-child {
    top: 0.6em;
    left: 0.6em;
}

.medias > img,
.medias > video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
    z-index: 1;
}

.post_actions {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    gap: 1em;
}

.post_actions > div {
    display: flex;
    gap: 0.6em;
}

.post_actions > div:where(:first-child, :last-child) > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    width: 2.5em;
}

.post_actions > div > li > img {
    height: 1.3em;
    display: block;
    cursor: pointer;
}

.post_actions > div > li > span {
    font-size: 0.6em;
    letter-spacing: 1px;
    min-height: 0.6em;
}

.caption {
    height: 100%;
    width: 100%;
    letter-spacing: 0.6px;
    overflow-y: auto;
    border-top: 1px solid var(--ligth-font-color);
    border-bottom: 1px solid var(--ligth-font-color);
    padding: 0.5em;
    text-align: justify;
    white-space: pre-wrap;
    word-break: break-all;
}

.caption > span {
    color: var(--ligth-theme-color);
    font-weight: bold;   
}

.slide_container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}

.slide_left {
    width: 30%;
    border-radius: 0 30% 30% 0;
    margin-right: auto;
    z-index: 2;
}

.slide_right {
    width: 30%;
    border-radius: 30% 0 0 30%;
    margin-left: auto;
    z-index: 2;
}

.actions_items {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    top: 0;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--dark-bg-color);
    border: 2px solid var(--dark-theme-color);
    z-index: 3;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.post_actions > div:nth-child(2) .actions_items {
    top: 1em;
    max-height: 15em;
    height: max-content;
    width: max-content;
    border-radius: 10px;
}

.actions_items > span {
    font-size: 0.8em;
    position: relative;
    top: 0.4em;
    left: 0.4em;
}

.actions_items > form {
    text-align: center;
}

.complainted_post {
    filter: blur(10px);
}

.complainted_post::before {
    content: "Postagem denúnciada";
    color: var(--alert-color);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) {
    .post {
        flex-direction: column;
        border: 2px solid var(--ligth-theme-color);
        aspect-ratio: unset;
    }

    .container_divisor {
        display: none;
    }
    
    .second_post_container {
        flex-direction: column-reverse;
        gap: 1em;
    }

    .medias {
        height: unset;
        width: calc(100% + 2em);
        margin-left: -1em;
        aspect-ratio: 4 / 3;
    }

    .post_actions {
        flex-wrap: wrap;
    }

    .caption {
        max-height: 30%;
        min-height: 5em;
        aspect-ratio: 3 / 1;
    }

    .actions_items {
        font-size: 0.9em;
    }
}