

.post_items_container {
    width: 100%;
    min-width: max-content;
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0.5em;
}

.post_items_container > li {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5em;
    max-height: min-content;
    transition: all 0.3s ease-in-out;
    padding: 0.4em;
    cursor: pointer;
}

.comment_text {
    font-size: 0.8em;
    overflow-y: auto;
    max-height: 5em;
    width: 19.8em;
    padding-right: 0.5em;
    text-align: justify;
    white-space: pre-wrap;
    word-break: break-all;
    display: flex;
}

.post_items_container > li:hover,
.selectedItem {
    background-color: var(--ligth-bg-color);
}