.profile_photo_container {
    cursor: pointer;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 3em;
    overflow: hidden;
    background-color: var(--ligth-bg-color);
    transition: all 0.15s ease-in-out;
}

.profile_photo_container:hover {
    border-color: var(--ligth-theme-color);
}

.profile_photo_container > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    transition: all 0.25s ease-in-out;
}

.profile_photo_container:hover > img {
    filter: brightness(0.6);
    transform: scale(1.2);
}

.tiny {
    height: 1.5em;
    width: 1.5em;
    border: 1px solid var(--dark-theme-color);
}

.short {
    height: 2.3em;
    width: 2.3em;
    border: 2px solid var(--dark-theme-color);
}

.medium {
    height: 3em;
    width: 3em;
    border: 3px solid var(--dark-theme-color);
}

.large {
    height: 5em;
    width: 5em;
    border: 4px solid var(--dark-theme-color);
}