.search_input {
    border-bottom: 1px solid var(--ligth-font-color);
    padding: 0.5em 0;
    display: flex;
    height: 2em;
}

.search_input > :where(label, button) {
    height: 100%;
    padding-right: 0.6em;
}

.search_input > button {
    background: none;
    outline: none;
    border: none;
}

.search_input > input {
    width: 100%;
    height: max-content;
    background-color: unset;
    border: none;
    outline: none;
}

.search_input > :where(label, button) > img {
    height: 100%;
    cursor: pointer;
}
